
*.class
*.jar
*.log
*gemini_chat.md
.clj-kondo/
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp/
.m2/
.nrepl-port
.shadow-cljs/
/checkouts/
/classes/
/lib/
/target/
docs/css/jupyter-react.css
docs/css/jupyterlab-theme-*.css
docs/css/xterm.css
docs/js/**/*.js
docs/js/**/*.ts
docs/js/compiled/
docs/js/libs.js
docs/js/libs/
docs/js/pypi/
docs/pypi/
node_modules/
package-lock.json
pom.xml
pom.xml.asc
public/js/**/*.js
public/js/**/*.ts
storybook-static/
target/
docs/js/fonts/
docs/js/images/
verification/**/*.png
