{:paths ["src"]
 :deps {io.github.borkdude/quickblog {:git/sha "51668d28ade5c9a5700d1300ae57efd29aefbff3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/data.csv {:mvn/version "1.0.1"}
        metosin/malli {:mvn/version "0.13.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.1045"}
        org.babashka/sci {:mvn/version "0.8.40"}}
 :tasks
 {render
  {:doc "Renders the blog"
   :requires ([quickblog.api :as quickblog])
   :task (quickblog/render
          {:blog-title "bb-web-ds-tools"
           :blog-description "A data science suite that runs entirely in your browser."
           :content-dir "blog"
           :out-dir "docs/blog"})}}}
