{:deps {re-frame {:mvn/version "1.2.0"}
        metosin/malli {:mvn/version "0.8.0"}
        com.github.seancorfield/honeysql {:mvn/version "2.7.1350"}}
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}}}
