{:honeysql/update-input
 {:honeysql/update-input 0.84,
  :bb-web-ds-tools.core/navigate 0.05,
  :honeysql/convert-to-sql 0.11},
 :bb-web-ds-tools.views.pyodide/set-code
 {:bb-web-ds-tools.views.pyodide/set-code 0.94,
  :bb-web-ds-tools.core/navigate 0.06},
 :bb-web-ds-tools.views.gemma/send-message
 {:bb-web-ds-tools.views.gemma/send-message 0.67,
  :bb-web-ds-tools.core/navigate 0.11,
  :bb-web-ds-tools.views.gemma/load-model 0.22},
 :malli/update-schema-text
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.datasets/update-new-dataset-state
 {:bb-web-ds-tools.views.datasets/update-new-dataset-state 0.4,
  :bb-web-ds-tools.views.datasets/update-cell 0.4,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.02,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.05,
  :bb-web-ds-tools.views.datasets/add-dataset 0.05},
 :malli/parse-schema-and-generate
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :malli/set-generation-samples
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.vega-lite/save-config
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38},
 :malli/update-inference-input
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.datasets/update-cell
 {:bb-web-ds-tools.views.datasets/update-new-dataset-state 0.4,
  :bb-web-ds-tools.views.datasets/update-cell 0.4,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.02,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.05,
  :bb-web-ds-tools.views.datasets/add-dataset 0.05},
 :malli/set-active-tab
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :malli/save-dataset
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.vega-lite/set-config-mode
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38},
 :bb-web-ds-tools.views.datasets/update-dataset-name
 {:bb-web-ds-tools.views.datasets/update-new-dataset-state 0.4,
  :bb-web-ds-tools.views.datasets/update-cell 0.4,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.02,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.05,
  :bb-web-ds-tools.views.datasets/add-dataset 0.05},
 :bb-web-ds-tools.core/navigate
 {:honeysql/update-input 0.07,
  :bb-web-ds-tools.views.pyodide/set-code 0.07,
  :bb-web-ds-tools.views.gemma/send-message 0.03,
  :malli/update-schema-text 0.07,
  :bb-web-ds-tools.views.datasets/update-new-dataset-state 0.07,
  :malli/parse-schema-and-generate 0.03,
  :malli/set-generation-samples 0.01,
  :bb-web-ds-tools.views.vega-lite/save-config 0.0,
  :malli/update-inference-input 0.07,
  :bb-web-ds-tools.views.datasets/update-cell 0.07,
  :malli/set-active-tab 0.01,
  :malli/save-dataset 0.0,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.01,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.01,
  :bb-web-ds-tools.core/navigate 0.0,
  :bb-web-ds-tools.views.app-db/remove-watch-path 0.01,
  :malli/infer-schema 0.03,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.01,
  :malli/load-dataset 0.01,
  :bb-web-ds-tools.views.gemma/load-model 0.01,
  :malli/validate 0.03,
  :bb-web-ds-tools.views.r-repl/run-code 0.03,
  :malli/set-generation-format 0.01,
  :bb-web-ds-tools.views.repl/eval-code 0.03,
  :bb-web-ds-tools.views.vega-lite/set-format 0.01,
  :malli/set-input-format 0.01,
  :bb-web-ds-tools.views.r-repl/set-code 0.07,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.0,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.07,
  :honeysql/convert-to-sql 0.01,
  :malli/transform-json 0.01,
  :bb-web-ds-tools.views.editor/save-code 0.0,
  :bb-web-ds-tools.views.app-db/add-watch-path 0.01,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.01,
  :bb-web-ds-tools.views.datasets/add-dataset 0.01,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.01,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.07},
 :bb-web-ds-tools.views.app-db/remove-watch-path
 {:bb-web-ds-tools.core/navigate 0.2,
  :bb-web-ds-tools.views.app-db/remove-watch-path 0.4,
  :bb-web-ds-tools.views.app-db/add-watch-path 0.4},
 :malli/infer-schema
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.vega-lite/import-dataset
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38},
 :malli/load-dataset
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.gemma/load-model
 {:bb-web-ds-tools.views.gemma/send-message 0.67,
  :bb-web-ds-tools.core/navigate 0.11,
  :bb-web-ds-tools.views.gemma/load-model 0.22},
 :malli/validate
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.r-repl/run-code
 {:bb-web-ds-tools.core/navigate 0.04,
  :bb-web-ds-tools.views.r-repl/run-code 0.26,
  :bb-web-ds-tools.views.r-repl/set-code 0.7},
 :malli/set-generation-format
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.repl/eval-code
 {:bb-web-ds-tools.core/navigate 0.14,
  :bb-web-ds-tools.views.repl/eval-code 0.86},
 :bb-web-ds-tools.views.vega-lite/set-format
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38},
 :malli/set-input-format
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.r-repl/set-code
 {:bb-web-ds-tools.core/navigate 0.04,
  :bb-web-ds-tools.views.r-repl/run-code 0.26,
  :bb-web-ds-tools.views.r-repl/set-code 0.7},
 :bb-web-ds-tools.views.datasets/delete-dataset
 {:bb-web-ds-tools.views.datasets/update-new-dataset-state 0.4,
  :bb-web-ds-tools.views.datasets/update-cell 0.4,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.02,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.05,
  :bb-web-ds-tools.views.datasets/add-dataset 0.05},
 :bb-web-ds-tools.views.vega-lite/set-config-input
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38},
 :honeysql/convert-to-sql
 {:honeysql/update-input 0.84,
  :bb-web-ds-tools.core/navigate 0.05,
  :honeysql/convert-to-sql 0.11},
 :malli/transform-json
 {:malli/update-schema-text 0.25,
  :malli/parse-schema-and-generate 0.09,
  :malli/set-generation-samples 0.03,
  :malli/update-inference-input 0.25,
  :malli/set-active-tab 0.03,
  :malli/save-dataset 0.02,
  :bb-web-ds-tools.core/navigate 0.02,
  :malli/infer-schema 0.09,
  :malli/load-dataset 0.03,
  :malli/validate 0.09,
  :malli/set-generation-format 0.03,
  :malli/set-input-format 0.03,
  :malli/transform-json 0.03},
 :bb-web-ds-tools.views.editor/save-code
 {:bb-web-ds-tools.core/navigate 0.5,
  :bb-web-ds-tools.views.editor/save-code 0.5},
 :bb-web-ds-tools.views.app-db/add-watch-path
 {:bb-web-ds-tools.core/navigate 0.2,
  :bb-web-ds-tools.views.app-db/remove-watch-path 0.4,
  :bb-web-ds-tools.views.app-db/add-watch-path 0.4},
 :bb-web-ds-tools.views.datasets/set-active-dataset-id
 {:bb-web-ds-tools.views.datasets/update-new-dataset-state 0.4,
  :bb-web-ds-tools.views.datasets/update-cell 0.4,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.02,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.05,
  :bb-web-ds-tools.views.datasets/add-dataset 0.05},
 :bb-web-ds-tools.views.datasets/add-dataset
 {:bb-web-ds-tools.views.datasets/update-new-dataset-state 0.4,
  :bb-web-ds-tools.views.datasets/update-cell 0.4,
  :bb-web-ds-tools.views.datasets/update-dataset-name 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.datasets/delete-dataset 0.02,
  :bb-web-ds-tools.views.datasets/set-active-dataset-id 0.05,
  :bb-web-ds-tools.views.datasets/add-dataset 0.05},
 :bb-web-ds-tools.views.vega-lite/set-active-config-name
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38},
 :bb-web-ds-tools.views.vega-lite/set-data-input
 {:bb-web-ds-tools.views.vega-lite/save-config 0.02,
  :bb-web-ds-tools.views.vega-lite/set-config-mode 0.05,
  :bb-web-ds-tools.core/navigate 0.02,
  :bb-web-ds-tools.views.vega-lite/import-dataset 0.05,
  :bb-web-ds-tools.views.vega-lite/set-format 0.05,
  :bb-web-ds-tools.views.vega-lite/set-config-input 0.38,
  :bb-web-ds-tools.views.vega-lite/set-active-config-name 0.05,
  :bb-web-ds-tools.views.vega-lite/set-data-input 0.38}}
